

# Created by https://www.gitignore.io/api/godot
# Edit at https://www.gitignore.io/?templates=godot

### Godot ###

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# End of https://www.gitignore.io/api/godot
# Compiled source files for the engine to use
Intermediate/*
Plugins/*/Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*


# End of https://www.gitignore.io/api/unrealengine